.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

#projects .child {
  transition: all 0.2s ease-in-out;
}

#projects .child:hover {
  scale: 1.04;
}
