.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

#projects .child {
  transition: all 0.2s ease-in-out;
}

#projects .child:hover {
  scale: 1.04;
}

.gelombang {
  position: relative;
  margin-bottom: -50px;
}

.gelombang .gelombang2 {
  margin-top: -300px;
  /* position: absolute; */
  /* top: -300px; */
  /* z-index: -10; */
}
